/* Add your custom CSS styles here */

#root {
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    border: none;
    background-color: #818181; /* Replace with your desired button color */
    color: #ffffff; /* Replace with your desired text color */
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
    background-color: #4e4e4e; /* Replace with a slightly darker shade for the hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow on hover */
}

.slider-container {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider-images {
    display: flex;
    /* Set a fixed height for the slider images */
    height: 500px;
    /* Make the container position relative */
    position: relative;
}

.slider-image {
    flex: 0 0 100%;
    /* Set the object-fit property to cover for uniform sizing */
    object-fit: cover;
    height: 100%;
    width: auto;
}

/* Buttons for next and previous images */
.slider-controls {
    /* Use absolute positioning to overlay the controls on top of the images */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-control-dots {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 24px;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    box-shadow: 0px 8px 11px rgba(0, 0, 0, .50);
}

/* Style for the selected dot */
.slider-control-dots.active {
    background-color: #000;
}


.hamburger-icon {
    position: absolute;
    top: 5px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    font-size: 45px; /* Adjust the font size as needed */
    cursor: pointer;
    color: #000; /* Set the initial color for the icon */
    overflow: hidden; /* Hide any overflow to prevent animation glitches */
    /* Set the initial background color positions for the bars */
    background-color: #000;
    background-size: 2000% 100%; /* Use a large value to create the racing effect */
    background-position: right; /* Change to 'right' for the left position */
    -webkit-background-clip: text; /* Use the text as a mask for the gradient */
    background-clip: text; /* Use the text as a mask for the gradient */
    color: transparent; /* Make the text transparent to reveal the background */
}

    /* Animate the color moving on hover for the bars */
    .hamburger-icon:hover {
    background-position: left; /* Move the background color from left to right */
    color: #706f6f; /* Set the color for the icon on hover */
}



/* Style for navigation */
nav {
    position: fixed;
    top: 65px;
    left: 10px;
    display: none;
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform-origin: top right; /* Set the transform origin to the top right corner */
    border-left: 1px solid rgba(0, 0, 0, 0.2); /* Add a left border outline */
    border-right: 1px solid rgba(0, 0, 0, 0.2); /* Add a right border outline */
    border-top: 1px solid rgba(0, 0, 0, 0.2); /* Add a top border outline */
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */
}

nav.open {
    display: block;
}

/* Style for navigation links */
nav a {
    display: block;
    padding: 15px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
}

/* Hover effect for navigation links */
nav a:hover {
    background-color: rgba(0, 0, 0, 0.185);
}

/* Add a separator line between navigation links */
nav a:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Style for navigation heading (if needed) */
nav h2 {
    padding: 20px;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

